body {
    background-color: #49f760;
}
  /*
  Overall Structure
  */

  /*
  Header/Page title
  */

  .heading {
    margin-bottom: 40px;
    background-color: rgb(243, 167, 233);
  }
  #logo{
    display: block;
    margin: auto;
    height: 30vw;
    width: 30vw;
  }
  .webpage-title {
    /* background-image: url("download3.jpeg"); */
    background-color: #f7b1d1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 30px 0px 30px 15px;
    border-radius: 70px;
  }

  /*
  Book list/left
  */

  #books {
    font-size: 16px;
    text-transform: uppercase;
    list-style-type: none;
  }

  /*
  Book image/pg middle
  */
  .horizontal {
    display: inline-block;
    width: 50%
  }

  img {
    width: 28vw;
    height: 40vw;
  }

  /*
  Average Info
  */
  .stars {
    background-color: rgb(117, 110, 110);
    padding: 5px;
    color: white
  }
  
  #review-count{
    background-color: rgb(117, 110, 110);
    color: white;
    padding: 0px 0px 5px 5px;
  }

  /*
  Form
  */
  
  .submit {
    color: #000000;
    padding: 5px;
    border-radius: 50px;
    margin-left: 5%;
  }
  
  #review-form {
    text-align: center;
  }

  #form-element {
    margin: 5%;
  }
  
  #form-element label {
    font-weight: bold;
    margin-right: 5%;
  }
  
  #comment-input {
    height: 100px;
    inline-size: 100px;
    width: 200px;
    border-radius: 50px;
    padding: 21px;
    text-align: center;
    margin-right: 5%;
  }


  /*
  List of reviews/pg bottom
  */

  #review-list {
    text-align: center;
  }

  
  #avg-info {
    margin-left: 20px;
  }

  #above-img-info {
    padding-bottom: 0em;
  }

  #author-and-title {
    height: 50px;
    white-space: nowrap;
  }
  #pages {
    white-space: nowrap;
    padding: 1em;
    text-align: right;
  }

  #author {
    white-space: nowrap;
    font-size: medium;
    font-weight: normal;
  }

  #title {
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    width: 300px;
    height: auto;
  }