body {
    background-image: url("membackground.jpeg");
}
  /*
  Overall Structure
  */

  /*
  Header/Page title
  */

  .heading {
    margin-bottom: 40px;
    background-color: rgba(242,239,234,.9);
    /* background-image: linear-gradient(rgba(255,196,188, 0.904), rgba(255,237,135,255)); */
    max-height: 50%
  }
  #logo{
    display: block;
    margin: auto;
    height: 11vw;
    width: 14vw;
    padding-bottom: 5px
  }
  .webpage-title {
    /* background-image: url("download3.jpeg"); */
    background-color: #f7b1d1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 30px 0px 30px 15px;
    border-radius: 70px;
  }

  /*
  Book list/left
  */

  #books {
    font-size: 16px;
    list-style-type: none;
  }

  .book-li {
    /* border: 1px solid #000;
    padding: 8px 16px;
    border-bottom: 1px solid #000000; */
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 10px;
    background: rgba(255,196,188, 0.9);
    font-weight: 800;
    /* width: 200px;
    height: 150px; */
  }

  /*
  Book image/pg middle
  */
  .horizontal {
    display: inline-block;
  }

  #author {
    white-space: nowrap;
    font-size: medium;
    font-weight: normal;
    margin-top: 30px;
    background-color: rgba(234, 240, 241, 0.85);
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 8px;
    width: 66%
  }

  #title {
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: auto;
    border: 2px solid #000;
    padding: 8px 16px;
    border-bottom: 1px solid #000000;
    background:rgba(191,223,212, 0.95)

  }
  #above-img-info {
    padding-bottom: 0em;
  }

  #author-and-title {
    height: 80px;
    white-space: nowrap;
  }
  #pages {
    white-space: nowrap;
    padding: 1em;
    text-align: right;
    background-color: rgba(234, 240, 241, 0.85);
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 8px;
    width:33%;
  }

  img {
    width: 100%;
    height: 40vw;
  }

  /*
  Average Info
  Right
  */
  .stars {
    background-color: rgba(255,237,135,.85);
    padding: 5px;
    color: black;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 30px
  }
  
  #review-count{
    background-color: rgba(255,237,135,.85);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border: 1px solid #000000;
    padding-left: 10px;
    font-size: smaller;
  }

  .description {
    margin-top: 30px;
    background-color: rgba(234, 240, 241, 0.85);
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 120%
  }


  /*
  Form
  */
  
  .submit {
    color: #000000;
    padding: 5px;
    border-radius: 50px;
    margin-left: 5%;
  }
  
  #review-form {
    text-align: center;
  }

  #form-element {
    margin: 5%;
  }
  
  #form-element label {
    font-weight: bold;
    margin-right: 5%;
  }
  
  #comment-input {
    height: 100px;
    inline-size: 100px;
    width: 200px;
    border-radius: 50px;
    padding: 21px;
    text-align: center;
    margin-right: 5%;
  }


  /*
  List of reviews/pg bottom
  */
  .second-half {
    padding-bottom: 10%;
  }

  #review-list {
    text-align: center;
    background-color: rgba(242,239,234,0.8);
    /* border: 1px solid #000000; */
    margin-bottom: 10%;
    padding-top: 3%;
    /* border-radius: 20%; */
  }

  .btn {
    display: inline-block;
    white-space: nowrap;
    margin-right: 10%;
    float: right;
    border-radius: 25%;
  }

  .comment-div {
    overflow-wrap: break-word;
    width: 90%;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 25px;
    background-color: rgba(191,223,212,0.8);
  }

  .comment-p {
    display: inline-block;
    white-space: normal;
    text-align: center;
    width: 80%;
    overflow-wrap: break-word;
  }

  
  #avg-info {
    margin-left: 20px;
  }
